<h2>Giỏ Hàng</h2>
<a style=" color: red; text-decoration: none;" href="@Url.Action("Index","Product")">TIếp tục mua hàng</a>
<table class="table">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Hình sản phẩm</th>
            <th>Giá</th>
            <th>Số Lượng</th>
            <th>Thành Tiền</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6">
                Chưa có sản phẩm nào ...
            </td>
        </tr>
    </tbody>
</table>
